flow_tageBOT.json
[{"id":"39b2e435.f755fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1539a053.1eb64","type":"telegram receiver","z":"39b2e435.f755fc","name":"","bot":"60a9993091703ec8","saveDataDir":"","filterCommands":false,"x":90,"y":200,"wires":[["b800a62a.3c5418","f14aaa99.e72e68"],["2f095477.531c6c"]]},{"id":"3174f4a8.69fdac","type":"watson-assistant-v2","z":"39b2e435.f755fc","name":"Assistant","service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/2ac552ee-0c07-4985-bc8c-1c1886311059","assistant_id":"348460e7-b306-444c-b6b4-70e7ac778ce2","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":760,"y":220,"wires":[["dbd08430.223fd8","da33711f.e051f"]]},{"id":"b800a62a.3c5418","type":"switch","z":"39b2e435.f755fc","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":180,"wires":[["8bed7615.874668"],["3a057a21.8480a6"]]},{"id":"8bed7615.874668","type":"function","z":"39b2e435.f755fc","name":"ProcIN Voz","func":"msg.params = {\n    session_id : msg.payload.chatId,\n    tipo : msg.payload.type\n};\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":100,"wires":[["d930010f.6e0b","bbeec3d9.a0bc5"]]},{"id":"3a057a21.8480a6","type":"function","z":"39b2e435.f755fc","name":"procIN Texto","func":"msg.params = {\n    session_id : msg.payload.chatId,\n    tipo : msg.payload.type\n};\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":280,"wires":[["3174f4a8.69fdac","d2cd04e7.7cd058"]]},{"id":"d930010f.6e0b","type":"watson-speech-to-text","z":"39b2e435.f755fc","name":"STT","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"KQFsQNrWnkoNf26iMIsDEsdqdopg_J1hqXti9X3BiRLg","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/b090de80-598c-4cd4-81b7-02ad5db1994f","x":650,"y":100,"wires":[["3174f4a8.69fdac","1ee2eef0.6357f1"]]},{"id":"f14aaa99.e72e68","type":"debug","z":"39b2e435.f755fc","name":"Entrada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":60,"wires":[]},{"id":"bbeec3d9.a0bc5","type":"debug","z":"39b2e435.f755fc","name":"Entrada STT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":40,"wires":[]},{"id":"d2cd04e7.7cd058","type":"debug","z":"39b2e435.f755fc","name":"Entrada WA Texto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":340,"wires":[]},{"id":"1ee2eef0.6357f1","type":"debug","z":"39b2e435.f755fc","name":"Saida STT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":60,"wires":[]},{"id":"dbd08430.223fd8","type":"debug","z":"39b2e435.f755fc","name":"Saida WA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":160,"wires":[]},{"id":"ce311196.83f5b","type":"switch","z":"39b2e435.f755fc","name":"","property":"params.tipo","propertyType":"msg","rules":[{"t":"eq","v":"voice","vt":"str"},{"t":"eq","v":"message","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1160,"y":320,"wires":[["d2f3aadb.cd9888","9b1a2ce3.cbe64"],["c72b7fa4.ce86f","83d86d7a.477c"]]},{"id":"d2f3aadb.cd9888","type":"watson-text-to-speech","z":"39b2e435.f755fc","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"pt-BR_IsabelaV3Voice","format":"audio/mp3","password":"","apikey":"4wORT8I0WzYvoT5dG8aqT56TSNdv71dO8cUoh0D9qrVC","payload-response":true,"service-endpoint":"https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/2cf06e1c-7155-4506-ad31-7ff36af2846e","x":1290,"y":200,"wires":[["c72b7fa4.ce86f","8b6439f2.906168"]]},{"id":"c72b7fa4.ce86f","type":"function","z":"39b2e435.f755fc","name":"","func":"msg.payload = {\n    type : msg.params.tipo,\n    content: msg.payload,\n    chatId: msg.params.session_id,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1440,"y":320,"wires":[["7325aa30.8d02f4","710d115f.61f21"]]},{"id":"8b6439f2.906168","type":"debug","z":"39b2e435.f755fc","name":"Saida TTS","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":140,"wires":[]},{"id":"7325aa30.8d02f4","type":"debug","z":"39b2e435.f755fc","name":"Saida","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1610,"y":500,"wires":[]},{"id":"83d86d7a.477c","type":"debug","z":"39b2e435.f755fc","name":"Saida Texto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1230,"y":440,"wires":[]},{"id":"9b1a2ce3.cbe64","type":"debug","z":"39b2e435.f755fc","name":"Saida Voz","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":120,"wires":[]},{"id":"2f095477.531c6c","type":"function","z":"39b2e435.f755fc","name":"Acesso não autorizado","func":"msg.payload.content = \"Você não é um usuário autorizado\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":640,"wires":[["710d115f.61f21"]]},{"id":"710d115f.61f21","type":"telegram sender","z":"39b2e435.f755fc","name":"","bot":"60a9993091703ec8","haserroroutput":false,"outputs":1,"x":1800,"y":320,"wires":[[]]},{"id":"da33711f.e051f","type":"function","z":"39b2e435.f755fc","name":"ProcOutWA","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":360,"wires":[["ce311196.83f5b"]]},{"id":"60a9993091703ec8","type":"telegram bot","botname":"Tage22Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]